%h1 New Post


- if @post.errors.present?
  %ul
    - @post.errors.full_messages.each do |error|
      %li #{error}

=form_for(@post) do |f|
  %ul
    %li
      %label Title
      #{f.text_field(:title)}
    %li
      %label Body
      #{f.text_area(:body)}
    %li
      #{f.submit}
